<div class="container" style="width: 100%; height: 100%; overflow: hidden;">
  <div :style="scaleStyle" style="position: relative; width: 100%; height: 100%;">
    <div
      :style="sizeStyle"
      style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"
    >
      <v-col class="content ma-0 pa-0">
        <v-row class="ma-0 pa-0 flex-nowrap">
          <v-sheet :height="cell" :width="cell" class="ma-0 pa-0" />
          <v-sheet
            v-for="i in coreWidth"
            :key="i"
            :height="cell"
            :width="cell"
            class="d-flex flex-column justify-center ma-0 pa-0"
            rounded
            :dark="i==activeI+1"
          >
            <div class="text-center text-overline">
              {{ xLabels[i-1] }}
            </div>
          </v-sheet>
        </v-row>
        <v-row v-for="(line, j) in grid" :key="j" class="ma-0 pa-0 flex-nowrap">
          <v-sheet
            :height="cell"
            :width="cell"
            class="d-flex flex-column justify-center ma-0 pa-0"
            rounded
            :dark="j==activeJ"
          >
            <div class="text-center text-overline">
              {{ yLabels[j] }}
            </div>
          </v-sheet>
          <v-sheet
            v-for="(assembly, i) in line"
            :key="i"
            :height="cell"
            :width="cell"
            outlined
            class="ma-0 pa-0"
            :style="toStyle(i, j)"
            :class="{ busy, pointerCursor: !busy && isFilled(i, j) }"
            @click="isFilled(i, j) && $emit('click', { i, j })"
            @mouseenter="isFilled(i, j) && hover(i, j)"
            @mouseleave="exit"
          >
            <div v-if="isFilled(i, j)" :style="cellStyle(i, j)" :title="tooltip(i, j)">
              <div v-for="(metric, k) in metrics" :key="k" :style="bandStyle(k, i, j)">
                {{ label(k, i, j) }}
              </div>
            </div>
          </v-sheet>
        </v-row>
      </v-col>
    </div>
  </div>
</div>
