<div class="vera-axial" style="position: relative; width: 100%; height: 100%; overflow: hidden;">
  <div :style="frameStyle">
    <div
      v-for="i in visibleColumns"
      :key="'x' + i"
      class="vera-axial-label"
      :style="xLabelStyle(i)"
    >
      {{ xLabels[i] }}
    </div>
    <div
      v-for="j in visibleRows"
      :key="'y' + j"
      class="vera-axial-label vera-axial-label-y"
      :style="yLabelStyle(j)"
    >
      {{ yLabels[j] }}
    </div>
    <div
      :style="dataStyle"
      :class="{ busy, pointerCursor: !busy }"
      @click="onClick"
      @mousemove="onHover"
      @mouseleave="exit"
    >
      <img
        v-for="row in renderedRows"
        :key="row.j"
        :src="row.url"
        :style="rowStyle(row.j)"
      />
      <div :style="highlightStyle"></div>
    </div>

  </div>
</div>

<style scoped>
.vera-axial-label {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  pointer-events: none;
}

.vera-axial-label-y {
  justify-content: flex-end;
}
</style>