html {
  overflow: hidden !important;
}

.pointerCursor {
  cursor: pointer;
}

.busy {
  cursor: wait !important;
}

.assembly-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8px;
  font-weight: 600;
  color: black;
  pointer-events: none;
  text-shadow: 0 0 2px white, 0 0 2px white;
  white-space: nowrap;
}

.assembly-label--sm {
  font-size: 5px;
}

vue-resizable-handle {
  z-index: 30;
  opacity: 0.9;
}

.theme--dark .vue-resizable-handle,
.v-application.theme--dark .vue-resizable-handle {
  filter: invert(1);
}
